// Colors
// Referenced from https://jonasjacek.github.io/colors/

$black: black;
$red: #e72d2d;
$green: #40bb77;
$blue: #1e90ff;
$orange: #ff9900;
$purple: #9e0aa3;
$pot: #f4a460;
$gold: #ffd700;
$yellow: #ffff00;

// Grays
$white000: white;
$white100: #eeeeee;
$white200: #e4e4e4;
