@font-face {
  font-family: "Fira Code";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url("./fonts/FiraCode-Regular.woff") format("woff"),
    url("./fonts/FiraCode-Regular.woff2") format("woff2"), local("Fira Code");
}

@font-face {
  font-family: "Fira Code Retina";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url("./fonts/FiraCode-Retina.woff") format("woff"),
    url("./fonts/FiraCode-Retina.woff2") format("woff2"),
    local("Fira Code Retina");
}

main * {
  font-family: "Fira Code", "JetSpace Mono", "Roboto Mono", monospace;
  font-size: 24px;
  line-height: 1.5;

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) {
    font-family: "Fira Code Retina", "JetSpace Mono", "Roboto Mono", monospace;
  }
}
